/* -------------------------------------------------------------------
 * RESET CSS
 * ------------------------------------------------------------------- */
*, ::after, ::before {
    box-sizing: border-box;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
a{
    color: #649edb;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #4479b1;
}



/* -------------------------------------------------------------------
 * BUTTONS
 * ------------------------------------------------------------------- */
.btn{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    padding: 12px 14px;
    border-radius: 0px; 
    border: none;
}

.btn-lg{
    font-size: 18px;
    padding: 16px 18px; 
}

.btn-sm{
    font-size: 14px;
    padding: 8px 10px;
}

.btn-light{
    color: #333;
    background-color: #e9e9e9;  
}
.btn-light:hover{
    background-color: #dddddd;
}

.btn-dark{
    color: #fff;
    background-color:#333333;
}
.btn-dark:hover{
    background-color: #1a1a1a;  
}

.btn-primary{
    color: #fff;
    background-color: #649edb;
}
.btn-primary:hover{
    background-color: #4479b1;
}

.btn-secondary{
    color: #fff;
    background-color: #747b82;
}
.btn-secondary:hover{
    background-color: #4e555c;
}

.btn-warning{
    color: #fff;
    background-color: #ffd350;
}
.btn-warning:hover{
    background-color:#ffbd2f;
}

.btn-info{
    color: #fff;
    background-color: #54c2d3; 
}
.btn-info:hover{
   background-color: #32a6bd;
}   

.btn-success{
    color: #fff;
    background-color: #54a967;
}
.btn-success:hover{
    background-color:#328742;
}

.btn-danger{
    color: #fff;
    background-color:#d9414f; 
}
.btn-danger:hover{
    background-color:#c6242e;
}

.btn-link{
    color: #649edb;
    background-color:transparent;
}
.btn-link:hover{
    text-decoration:underline;
}

.btn-block{
    display:block;
    width: 100%;
}



/* -------------------------------------------------------------------
 * NAVS
 * ------------------------------------------------------------------- */
.nav{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.nav-link.disabled {
    color: #6c757d;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover{
    border-color: #e9ecef #e9ecef #dee2e6;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
     background-color: #007bff; 
}

.nav-fill .nav-item {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}



/* -------------------------------------------------------------------
 * GRID FLEX CLASS
 * ------------------------------------------------------------------- */
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.order-first {
    -ms-flex-order: -1;
    order: -1;
}
.order-last {
    -ms-flex-order: 13;
    order: 13;
}
.order-0 {
    -ms-flex-order: 0;
    order: 0;
}
.order-1 {
    -ms-flex-order: 1;
    order: 1;
}
.order-2 {
    -ms-flex-order: 2;
    order: 2;
}
.order-3 {
    -ms-flex-order: 3;
    order: 3;
}
.order-4 {
    -ms-flex-order: 4;
    order: 4;
}
.order-5 {
    -ms-flex-order: 5;
    order: 5;
}
.order-6 {
    -ms-flex-order: 6;
    order: 6;
}
.order-7 {
    -ms-flex-order: 7;
    order: 7;
}
.order-8 {
    -ms-flex-order: 8;
    order: 8;
}
.order-9 {
    -ms-flex-order: 9;
    order: 9;
}
.order-10 {
    -ms-flex-order: 10;
    order: 10;
}
.order-11 {
    -ms-flex-order: 11;
    order: 11;
}
.order-12 {
    -ms-flex-order: 12;
    order: 12;
}

.offset-1 {
    margin-left: 8.333333%;
}
.offset-2 {
    margin-left: 16.666667%;
}
.offset-3 {
    margin-left: 25%;
}
.offset-4 {
    margin-left: 33.333333%;
}
.offset-5 {
    margin-left: 41.666667%;
}
.offset-6 {
    margin-left: 50%;
}
.offset-7 {
    margin-left: 58.333333%;
}
.offset-8 {
    margin-left: 66.666667%;
}
.offset-9 {
    margin-left: 75%;
}
.offset-10 {
    margin-left: 83.333333%;
}
.offset-11 {
    margin-left: 91.666667%;
}

.flex-row {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
}
.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}
.flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
}
.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.flex-nowrap {
    -ms-flex-wrap: nowrap !important;
    flex-wrap: nowrap !important;
}
.flex-wrap-reverse {
    -ms-flex-wrap: wrap-reverse !important;
    flex-wrap: wrap-reverse !important;
}
.flex-fill {
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
}

.flex-grow-0 {
    -ms-flex-positive: 0 !important;
    flex-grow: 0 !important;
}
.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}
.flex-shrink-0 {
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}
.flex-shrink-1 {
    -ms-flex-negative: 1 !important;
    flex-shrink: 1 !important;
}

.justify-content-start {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}
.justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}
.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.justify-content-around {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}

.align-items-start {
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
.align-items-end {
    -ms-flex-align: end !important;
    align-items: flex-end !important;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
}
.align-items-stretch {
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
}

.align-content-start {
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
}
.align-content-end {
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
}
.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}
.align-content-between {
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
}
.align-content-around {
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
}
.align-content-stretch {
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
}

.align-self-auto {
    -ms-flex-item-align: auto !important;
    align-self: auto !important;
}
.align-self-start {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}
.align-self-end {
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}
.align-self-center {
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.align-self-baseline {
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
}
.align-self-stretch {
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}

/* -------------------------------------------------------------------
 * BADGES
 * ------------------------------------------------------------------- */
 
 .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-pill{
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem;
}

.badge-square{
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 0rem;
}

.badge-primary{
	color:#fff;
	background-color:#649edb;
}

.badge-primary{
	color:#fff;
	background-color:#649edb;
}

.badge-primary[href]:hover, .badge-primary[href]:hover{
	color:#fff;
	text-decoration:none;
	background-color:#4479b1;
}

.badge-secondary{
	color:#fff;
	background-color:#747b82;
}

.badge-secondary[href]:focus, .badge-secondary[href]:hover{
	color:#fff;
	text-decoration:none;
	background-color:#4e555c;
}

.badge-success{
	color:#fff;
	background-color:#54a967;
}

.badge-success[href]:focus, .badge-success[href]:hover{
	color:#fff;
	text-decoration:none;
	background-color:#328742;
}

.badge-danger{
	color:#fff;
	background-color:#d9414f;
}

.badge-danger[href]:focus, .badge-danger[href]:hover{
	color:#fff;
	text-decoration:none;
	background-color:#c6242e;
}

.badge-warning{
	color:#fff;
	background-color:#ffd350;
}

.badge-warning[href]:focus, .badge-warning[href]:hover{
	color:#fff;
	text-decoration:none;
	background-color:#ffbd2f;
}

.badge-info{
	color:#fff;
	background-color:#54c2d3;
}

.badge-info[href]:focus, .badge-info[href]:hover{
	color:#fff;
	text-decoration:none;
	background-color:#32a6bd;
}

.badge-light{
	color:#333333;
	background-color:#e9e9e9;
}

.badge-light[href]:focus, .badge-light[href]:hover{
	color:#333333;
	text-decoration:none;
	background-color:#dddddd;
}

.badge-dark{
	color:#fff;
	background-color:#333333;
}

.badge-dark[href]:focus, .badge-dark[href]:hover{
	color:#fff;
	text-decoration:none;
	background-color:#1a1a1a;
}

/* -------------------------------------------------------------------
 * BARRAS DE PROGRESSO
 * ------------------------------------------------------------------- */

.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    background-color: #e9ecef;
    border-radius: .45rem;
    margin-bottom: 10px;    

}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    white-space: nowrap;
    background-color: #007bff;
    text-align: center;
    justify-content: center;
   
}

.bg-success{
    background-color: #228B22;
}

.bg-info{
    background: #008B8B;
}

.bg-warning{
    background: #FFA500;
}

.bg-danger{
    background: #FF0000;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;

}

 .progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;

}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}