.btn{
	display: inline-block;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	background: transparent;
	padding: 12px 14px;
	border-radius: 0px;	
	border: none;
}

.btn-light{
    color: #333;
	background-color: #e9e9e9;	
}
.btn-light:hover{
	background-color: #dddddd;
}

.btn-dark{
    color: #fff;
	background-color:#333333;
}
.btn-dark:hover{
	background-color: #1a1a1a;	
}

.btn-primary{
    color: #fff;
	background-color: #649edb;
}
.btn-primary:hover{
	background-color: #4479b1;
}

.btn-secondary{
    color: #fff;
	background-color: #747b82;
}
.btn-secondary:hover{
	background-color: #4e555c;
}

.btn-warning{
    color: #fff;
	background-color: #ffd350;
}
.btn-warning:hover{
	background-color:#ffbd2f;
}

.btn-info{
    color: #fff;
	background-color: #54c2d3; 
}
.btn-info:hover{
   background-color: #32a6bd;
}	

.btn-success{
    color: #fff;
	background-color: #54a967;
}
.btn-success:hover{
	background-color:#328742;
}

.btn-danger{
    color: #fff;
	background-color:#d9414f; 
}
.btn-danger:hover{
	background-color:#c6242e;
}

.btn-link{
	color: #649edb;
	background-color:transparent;
}
.btn-link:hover{
	text-decoration:underline;
}

.btn-block{
	display:block;
	width: 100%;
}